<!DOCTYPE html>
<html>
    <head>
        <title>Smog</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link href="https://fonts.googleapis.com/css?family=Black+Ops+One" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-git2.min.js"></script>
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">SMOG</a>
            </div>
        </div>
    </nav>
    <div class="container">