<% include ./partials/header %>

<div id="rezultat" class="col-md-8 col-md-offset-2" alt="">
    <div class="papierosy">
        <%for(var i = 0; i < liczba_papierosow; i++) { %>
            <img src="/images/papieros.png">
        <% } %>
    </div>
    <h1 id="liczba">Powietrze, którym oddychałeś <%=data%>* było równie szkodliwe jak wypalenie:<hr><%=liczba_papierosow%> papierosów**</h1>
    <div id="zrodla">
        <p>
            * Dane pochodzą z portalu: <a href="https://openaq.org/#/?_k=hy6t98">openaq.org</a>
            <br>
            ** Liczba papierosów obliczona została na podstawie artykułu: <a href="http://berkeleyearth.org/air-pollution-and-cigarette-equivalence/">http://berkeleyearth.org/air-pollution-and-cigarette-equivalence/</a>
        </p>
    </div>
</div>

<script>
    $("img").each(function(index, element) {
        $(this).delay(1000*index).fadeIn("slow");
        setTimeout(function() {
            element.style.opacity = 1;
        }, 1000*index);
    });
    setTimeout(function() {
        document.getElementById("liczba").style.opacity = 1;
    }, (1000*(<%=liczba_papierosow%>+1)));
</script>

<% include ./partials/footer %>