<% include ./partials/header %>

<div class="content">
<h1>Wybierz miasto, w którym mieszkasz:</h1>
    <div class="col-md-4 col-md-offset-4">
        <form action="/results" method="GET">
            <select class="form-control" name="search">
              <option>Warszawa</option>
              <option>Otwock</option>
              <option>Legionowo</option>
              <option>Płock</option>
              <option>Radom</option>
              <option disabled="disabled">-------</option>
              <option disabled="disabled">*tylko do takich miast znalazłem API :/</option>
            </select>
            <input id="potwierdzenie" class="btn btn-default" type="submit" value="Zatwierdź">
        </form>
    </div>
</div>

<script>
    $("#potwierdzenie").on("click", function() {
        $(".content").fadeOut();
    });
</script>

<% include ./partials/footer %>