form {
    max-width: 350px;
    margin: 40px auto;
}

#potwierdzenie{
    margin-top: 20px;
}

.content{
	padding-top: 18%;
	text-align: center;
}

body {
    background: url(../images/fallout.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Black Ops One', cursive;
    color: white;
}

select, input {
    background: black !important;
    color: red !important;
}

select:focus, input:focus {
    border-color: red !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6) !important;
    outline: 0 none !important;
}

h1, h2{
    color: black;
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
    text-align: center;
}

#rezultat {
    padding-top: 3%;
}

img {
    max-height: 100px;
    display: inline-block;
    opacity: 0;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
}

#liczba {
    opacity: 0;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
}

#zrodla {
    margin-top: 5em;
    background-color: rgb(160, 150, 150);
}

